<div class="group_header">Field Information</div>
    <div class="data_titles">
        Name:</br>
        Area:</br>
        Channel Erodiblity:</br>
        Average Slope:</br>
    </div>
    <div class="data">
        This is a space filler<%=  %></br>
        This is a space filler<%=  %></br>
        This is a space filler<%=  %></br>
        This is a space filler<%=  %></br>
    </div>