<div class="group_header">Location and Additional Site Information</div>
    <div class="data_titles">
        State:</br>
        County:</br>
    </div>
    <div class="data">
        This is a space filler<%=  %></br>
        This is a space filler<%=  %></br>
    </div>