<% @state = State.find(@location.state_id) %>
<% @county = County.find(@location.county_id) %>

<div class="group_header">Location and Additional Site Information</div>
    <div class="data_titles">
        State:</br>
        County:</br>
    </div>
    <div class="data">
        <%= @state.state_name %></br>
        <%= @county.county_name %></br>
    </div>