<% user_id = session[:user_id] %>
<% user = User.find(user_id) %>
<% t = Time.now %>

<div class="header">
    <h1 id="document_header">Nutrient Tracking Tool - Report</h1>
</div>
<div class="right">
    <strong>User:</strong> <%= user.name %></br>
    <strong>Email:</strong> <%= user.email %></br>
    <strong>Company:</strong> <%= user.company %></br>
</div>
<div>
    <hr class="line_break" color="dodgerblue">
</div>