<div class="group_header">Weather Information</div>
    <div class="data_titles">
        Weather Option:</br>
        Station Name:</br>
        Weather Period:</br>
        Simulation Period:</br>
    </div>
    <div class="data">
        This is a space filler<%=  %></br>
        This is a space filler<%=  %></br>
        This is a space filler<%=  %></br>
        This is a space filler<%=  %></br>
    </div>