<div class="main">
	<div class="container">
		<h1><%= t('disclaimerpage.header') %></h1>
			<p><%= raw t('disclaimerpage.body1') %></p>
			<p><%= raw t('disclaimerpage.body2') %></p>

				
		<br>

		<%= link_to "<< Return to Table of Contents", help_path("index") %>
	</div>
</div>