<%= form_for :soil do |f| %>
<table>
  <tr>
    <td><%= label :bmp_id, 'Soils' %></td>
  </tr>
   <tr>
    <td><%= collection_select :soil, :id, Soil.where(:field_id => session[:field_id]), :id, :name, {:prompt => 'Select Scenarios'}, {:required => true} %></td>
  </tr>
</table>
<% end %>