<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @watershed.name %>
</p>


<%= link_to 'Edit', edit_watershed_path(@watershed) %> |
<%= link_to t('general.back'), list_watershed_path(session[:location_id]) %>
