<%= form_for(@modification) do |f| %>
  <% if @modification.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.form_errors', :count => @modification.errors.count, :model => t('models.modification').downcase) %></h2>

      <ul>
      <% @modification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
