<h1><%= t('general.new') + " " + t('operation.bmp') %></h1>

<%= render 'form' %>
<<<<<<< HEAD
=======

<<<<<<< HEAD
>>>>>>> master
=======
>>>>>>> oscar
>>>>>>> a993709fc9ee84259d45cb23998065c0ac0df986
