<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<form id="myForm">
  <div class="field">
	<%= collection_select :results, :description_id, Description.all, :id, :description, {:prompt => 'Select Kind of Chart', :required => true, :selected => @descrition} %>
	<%= submit_tag t("result.update_chart"), name: "button"%>
  </div>
<form>
<%= column_chart [
    { :name => "Baseline", :data =>
	
	@charts1 },

	{ :name => "Alternative", :data =>
	[[2002, 5.5],
	[2003, 3.4],
	[2004, 5.2],
	[2005, 1],
	[2006, 6.1]]}, 

	{ :name => "Future", :data =>
	[[2002, 5.5],
	[2003, 3.4],
	[2004, 5.2],
	[2005, 1],
	[2006, 6.1]]}
	], { library: {hAxis: {title: "Year"}, vAxis: {title: "mm"}, title: {:title => "Flow"}}}
	  %>