/* This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.                                                                                     
 *                                                                                                   
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,   
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.    
 *                                                                                                   
 * You're free to add application-wide styles to this file and they'll appear at the top of the      
 * compiled file, but it's generally better to create a new file per style scope.                    
 *                                                                                                   
 *= require_self                                                                                     
 *= require pdf                                                                                      
 *= require_tree .                                                                                   
 */

.fieldset { color: Blue; border: 2px solid #e9e9e9;;                                                              }

.line_break {
  margin-top: 10px;
  margin-bottom: 15px;
}

.fieldNumbers {
  text-align: right;
  width: 70px;
  color: Black;
}

.panel-default { border-color: black !important; }

.table-bordered td, .table-bordered th{
    border-color: black !important;
}

.numbers {
  text-align: right;
  width: 100px;
}

.success_alert {
  margin-top: 15px;
  padding: 20px;
  background-color: #6abc6e; /* Green */
  color: white;
  margin-bottom: 15px;
}

.info_alert {
  margin-top: 15px;
  padding: 20px;
  background-color: #47a8f5; /* Blue */
  color: white;
  margin-bottom: 15px;
}

.warning_alert {
  margin-top: 15px;
  padding: 20px;
  background-color: #ffa92c; /* Yellow */
  color: white;
  margin-bottom: 15px;
}

.flash_alert {
  margin-top: 15px;
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

.flash_alert > h3 {
  color: white;
}

.flash_alert > ul li {
  font-size: 12px;
  color: #e9e9e9;
}

.create_font { font-weight: bold; font-size:20px; }

.sidebar_font { font-weight: normal; font-size:40px; }

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

/*                                                                                                   
.active:hover {                                                                                      
    background: white;                                                                               
    border: white solid 2px !important;                                                              
}                                                                                                    
                                                                                                     

/*Table styles  */

table {
  margin-bottom: 15px;
}

.upper_border {
  border-top: 1px solid #C1C3D1;
}

.bottom_border {
  border-bottom: 1px solid #D5DDE5;
}

.gvTotalNumber {
  height: 20px;
  padding: 8px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 15px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  font-family: Roboto, helvetica, arial, sans-serif;
  margin: 0px 0px 0px 0px;
  color: Blue;
}

.gvTotalText {
  height: 20px;
  padding: 8px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 15px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  font-family: Roboto, helvetica, arial, sans-serif;
  margin: 0px 0px 0px 0px;
  color: Blue;
}

.gvDetailText {
  height: 20px;
  padding: 8px;
  vertical-align: middle;
  font-weight: 300;
  font-size: 15px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  font-family: Roboto, helvetica, arial, sans-serif;
  margin: 0px 0px 0px 0px;
  text-align: right;
}

.gvTitleStyleNumber { text-align: right; }

.gvCellStyleNumber {
  height: 20px;
  padding: 8px;
  vertical-align: middle;
  font-weight: 300;
  font-size: 15px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  font-family: Roboto, helvetica, arial, sans-serif;
  margin: 0px 0px 0px 0px;
  text-align: right;
}

.gvCellStyleCheckbox {
  height: 20px;
  padding: 8px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 15px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  font-family: Roboto, helvetica, arial, sans-serif;
  margin: 0px 0px 0px 0px;
  text-align: center;
}

.gvCellStyleActions {
  height: 20px;
  padding: 8px;
  vertical-align: middle;
  font-weight: 300;
  font-size: 15px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  font-family: Roboto, helvetica, arial, sans-serif;
  margin: 0px 0px 0px 0px;
  text-align: left;
}

.gvCellStyleImage {
  height: 14px;
  padding: 8px;
  text-align: left;
  vertical-align: middle;
}

.gvCellStyleText {
  height: 20px;
  padding: 8px;
  text-align: left;
  vertical-align: middle;
  font-weight: normal;
  font-size: 13px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  font-family: Roboto, helvetica, arial, sans-serif;
  margin: 0px 0px 0px 0px;
}

.gvCellStyleString {
  height: 20px;
  padding: 8px;
  text-align: left;
  vertical-align: middle;
  font-size: 13px;
  font-weight: normal;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  font-family: Roboto, helvetica, arial, sans-serif;
  margin: 0px 0px 0px 0px;
}

.gvCellStyleTitle {
  height: 25px;
  padding: 8px;
  vertical-align: middle;
  font-weight: 100;
  font-size: 16px;
  text-align: left;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  font-family: Roboto, helvetica, arial, sans-serif;
  margin: 0px 0px 0px 0px;
}

.gvHeaderStyle > th:not(:last-child) {
  border-right: 1px solid #C1C3D1;
}

.unbold {
  height: 25px;
  padding: 8px;
  vertical-align: middle;
  font-weight: 100;
  font-size: 16px;
  text-align: center;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  font-family: Roboto, helvetica, arial, sans-serif;
  margin: 0px 0px 0px 0px;
  overflow: hidden;
}

.gvRowStyle {
  height: 20px;
  padding: 8px;
  text-align: left;
  vertical-align: middle;
  font-size: 13px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  font-family: Roboto, helvetica, arial, sans-serif;
  margin: 0px 0px 0px 0px;
  color: Black;
  text-align: center;
  vertical-align: middle;
}

.gvRowStyleOdd {
  border-right: 1px solid #C1C3D1;
  color: Black;
  background: #D5DDE5 !important;
  text-align: center;
  vertical-align: middle;
}

.gvRowStyleEven {
  border-right: 1px solid #C1C3D1;
  color: Black;
  background: #FFFFFF !important;
  text-align: center;
  vertical-align: middle;
}

.gvTableStyle {
  border-right: #C1C3D1;
  margin-top: 10px !important;
  border-style: None;
  border-collapse: collapse;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.gvTableStyle .even td {
  background: #FFFFFF;
}

.gvTableStyle .odd td {
  background: #D5DDE5;
}

.container {
  width: 100%;
}

.pageContainer {
  margin: 0px 25px -20px 25px;
  padding: 5px 0px 5px 10px !important;
  min-height: 100px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px #4F2D7F;
}

pointer { cursor: pointer; }

select {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  border-radius: 3px;
  border: none;
  background: #f1f1f1;
  padding: 2px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

input[type="number"] {
  padding: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #e9e9e9;
  border-radius: 2px;
  padding: 2px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

input[type="text"] {
  padding: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #e9e9e9;
  border-radius: 2px;
  padding: 2px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

input[type="password"] {
  padding: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #e9e9e9;
  border-radius: 2px;
  padding: 2px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

textarea {
  padding: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #e9e9e9;
  border-radius: 2px;
  padding: 2px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

/*                                                                                                   
select:hover {                                                                                       
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);                      
    background-color: white;                                                                         
    color: dodgerblue;                                                                               
}*/

.light_green_button {
  border: none;
  color: white !important;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  padding: 6px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  border-radius: 4px;
  margin-top: 5px;
  background-color: #9CCC65 !important;
}

.light_green_button:link {
  color: white !important;
}

.light_green_button:hover {
  color: #9CCC65 !important;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
  background-color: white !important;
}

input[type="submit"] {
  background-color: dodgerblue;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  padding: 6px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  border-radius: 4px;
  margin-top: 5px;
}

input[type="submit"]:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  color: dodgerblue;
}

.no_click {
  background-color: #f44336 !important;
  border: none;
  color: white !important;
  text-align: center;
  text-decoration: none !important;
  font-size: 15px;
  padding: 6px;
  font-family: Roboto, Arial, Helvetica, sans-serif !important;
  border-radius: 4px;
  margin-top: 5px;
}

.no_click:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
  background-color: white !important;
  color: #f44336 !important;
}

.green_button {
  background-color: #4CAF50 !important;
  border: none;
  color: white !important;
  text-align: center;
  text-decoration: none !important;
  font-size: 15px;
  padding: 6px;
  font-family: Roboto, Arial, Helvetica, sans-serif !important;
  border-radius: 4px;
  margin-top: 5px;
}

.green_button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
  background-color: white !important;
  color: #4CAF50 !important;
}

.fillButton {
  background-color: dodgerblue;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-weight: 100;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  float: right;
  border-radius: 2px;
}

.fillButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  color: dodgerblue;
}

.center {
  padding: 20px 10px 0px 10px;
  margin: auto;
  width: 188px;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #e9e9e9;
  border-radius: 2px;

  .field_with_errors {
    width: 100%;
    margin: 0 -24px 0 -24px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #e9e9e9;
    border-radius: 2px;
    padding: 2px;

    ::-webkit-input-placeholder { /* Chrome */
      color: white;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: white;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: white;
      opacity: 1;
    }
    :-moz-placeholder { /* Firefox 4 - 18 */
      color: white;
      opacity: 1;
    }

    input {

      width: 100% !important;
      background: transparent;
      border: 0 solid #ffffff;
      padding: 8px 0 8px 8px;
      border-radius: 0;
      margin-bottom: 1px;

    }

  }

}

.left {
  width: 260px !important;
  padding-bottom: 0px !important;
}

.center > .field > input {
  width: 100% !important;
  margin: 0 -24px 0 -24px !important;
  background: transparent;
  border: 0 solid #ffffff;
  padding: 8px 0 8px 8px;
  border-radius: 0;
  margin-bottom: 1px;
}

.center > .field > input:not(:last-child) {
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 9px;

}

.center > .field {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  padding: 2px;
}

.left > .field {
  width: 254px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  padding: 2px;
}

.login > input[type="submit"] {
  width: 100%;
  margin-bottom: 0px !important;
  border-radius: 1px;
  border: none !important;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.new > input[type="submit"] {
  width: 100%;
  margin-bottom: -1px !important;
  border-radius: 1px;
  border: none !important;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.new {
  padding-bottom: 0px;
  display: inline;
}

.back {
  margin-bottom: 15px !important;
}

.login > .green_button {
  border-radius: 1px;
  display: block;
  padding: 8px 0px 8px 0px;
  margin-top: 0px;
  margin-bottom: -5px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.center > h2 {
  margin-bottom: 25px;
  margin-top: 0px;
}

.new > .green_button {
  border-radius: 1px;
  display: block;
  padding: 8px 0px 8px 0px;
  margin-top: 0px;
  margin-bottom: -10px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 300;
}


/* html {
  margin: 0px 0px 0px 0px;
  background: #80CBC4;
} */

/* body > .container {
  background: #E0F2F1;
  padding: 0px 0px 50px 0px;
  margin-bottom: -15px;
  display: block;
} */

.pageContent {
  padding: 0 20px 0 10px;
  margin: 0 0 0 0 !important;
}

iframe {
  width: 125%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.actions > a {
  background-color: #00796B;
  border: none;
  color: white !important;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  padding: 6px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  border-radius: 4px;
  margin-top: 5px;
}

.actions > a:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  color: #00796B !important;
}

.nutrients_positive {
  height: 20px;
  padding: 8px;
  text-align: right;
  vertical-align: middle;
  font-weight: 300;
  font-size: 15px;
  color: green;
}

.nutrients_negative {
  height: 20px;
  padding: 8px;
  text-align: right;
  vertical-align: middle;
  font-weight: 300;
  font-size: 15px;
  color: #ff9900;
}

#climate_table {

  table {

    tr {

      td {
        padding: 2px 5px 2px 5px !important;

        input {
          width: 100%;
        }
      }

      th {
        padding: 2px 5px 2px 5px !important;

        margin-left: auto;
        margin-right: auto;

        .fillButton {
          margin: 0 0 0 10px;
        }
      }
    }

  }
}

.project_column > a {
  color: #ffffff;
}
