// Place all the styles related to the Help controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	color: #0050B7;
}

h2 {
	color: #008B68;
}

h3 {
	color: #0070FF;
}