@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

all {
    font-family: Roboto, Arial, Helvetica, sans-serif;

}

@font-face {
    font-family: Roboto;
    src: url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
    font-weight: 200;
}


.header {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    width:500px;
    float:left;
    margin-top: 22px;
}

.page_header {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    width:500px;
    float:left;
    margin: 0px 0px 0px 0px;
    background: none;
    padding: 0px 0px 0px 0px;
}

.margin_none {
    margin: 0px 0px 0px 0px !important;
}

.margin_bottom {
    margin-bottom: 10px !important;
    padding-bottom: 10px !important;
}

#document_header {
    display: inline;
}

.inline {
    display: inline !important;
}

.line_break {
    margin-top: 0px;
    margin-bottom: 0px;
}

.line_break_first {
    margin-top: 10px;
    margin-bottom: 0px;
}

.right {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-align: right;
}

.empty {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.bmp_header {
    background: #00796B;
    color: white;
    text-align: center;
    font-weight: 200;
    font-size: 17px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding: 7px 7px 7px 7px;
    margin: 30px 10px 10px 10px;
}

.group_header {
    background: dodgerblue;
    color: white;
    text-align: center;
    font-weight: 200;
    font-size: 17px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding: 12px 12px 12px 12px;
    margin: 30px 0px 10px 0px;
}

.data_titles {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 16px;
    width:200px;
    float:left;
    text-align: right;
    font-weight: bold;
}

.data {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin-left: 210px;
    font-size: 16px;
}

.no_content {
    margin-left: 100px;
}

/*** Table Styles **/

.table_fill {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    margin: auto;
    max-width: 600px;
    padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}
  
.table_head {
    background: #6abc6e;
    padding:20px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
    font-family: Roboto, helvetica, arial, sans-serif;
    text-align: center;
    color: white;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.row {
    height: 40px;
    padding:8px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:16px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
    margin: 0px 0px 0px 0px;
}
 
.table_row_even {
    background:#FFFFFF;
}
 
.table_row_odd {
    background:#D5DDE5;
}

.page-break { 
    display:block; 
    clear:both; 
    page-break-after:always; 
}

.text {
    text-align: left;
    font-family: Roboto, helvetica, arial, sans-serif;
}

.number {
    text-align: right;
    font-family: Roboto, helvetica, arial, sans-serif;
}

.first_group {
     margin-top:0px;
}

.bold {
    font-weight: bold !important;
}

table, tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid !important;
}

.no_page_break {
    page-break-inside: avoid !important;
}

.font_roboto {
    font-family: Roboto, helvetica, arial, sans-serif !important;
    font-weight: 200;
}

.font_roboto > strong {
    font-family: Roboto, helvetica, arial, sans-serif !important;
    font-weight: normal !important;
}

.break {
    color: dodgerblue;
    font-size: 25px;
    font-family: Roboto, helvetica, arial, sans-serif !important;
    font-weight: 700;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
