<div class="page-header"><h1><%= t("Aplcat Results") %></h1></div>
<div class="main">
<table>
<tr>
  <td><%= link_to t("New APLCAT Results"), new_project_field_scenario_aplcat_result_path(@project, @field, @scenario), :class => 'btn btn-success' %></td>
  <td> <%= link_to 'Back', edit_project_field_scenario_aplcat_parameter_path(@project, @field, @scenario, 1), :class => "btn btn-primary" %></td>
</tr>
</table>
