<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=Generator content="Microsoft Word 15 (filtered)">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
	{font-family:"Segoe UI";
	panose-1:2 11 5 2 4 2 4 2 2 3;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoCommentText, li.MsoCommentText, div.MsoCommentText
	{mso-style-link:"Comment Text Char";
	margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	font-size:10.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{mso-style-link:"Header Char";
	margin:0in;
	margin-bottom:.0001pt;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{mso-style-link:"Footer Char";
	margin:0in;
	margin-bottom:.0001pt;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
a:link, span.MsoHyperlink
	{color:blue;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{color:#954F72;
	text-decoration:underline;}
p.MsoCommentSubject, li.MsoCommentSubject, div.MsoCommentSubject
	{mso-style-link:"Comment Subject Char";
	margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	font-size:10.0pt;
	font-family:"Calibri",sans-serif;
	font-weight:bold;}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	{mso-style-link:"Balloon Text Char";
	margin:0in;
	margin-bottom:.0001pt;
	font-size:9.0pt;
	font-family:"Segoe UI",sans-serif;}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:.5in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:.5in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
span.HeaderChar
	{mso-style-name:"Header Char";
	mso-style-link:Header;}
span.FooterChar
	{mso-style-name:"Footer Char";
	mso-style-link:Footer;}
span.CommentTextChar
	{mso-style-name:"Comment Text Char";
	mso-style-link:"Comment Text";}
span.CommentSubjectChar
	{mso-style-name:"Comment Subject Char";
	mso-style-link:"Comment Subject";
	font-weight:bold;}
span.BalloonTextChar
	{mso-style-name:"Balloon Text Char";
	mso-style-link:"Balloon Text";
	font-family:"Segoe UI",sans-serif;}
.MsoChpDefault
	{font-family:"Calibri",sans-serif;}
.MsoPapDefault
	{margin-bottom:8.0pt;
	line-height:107%;}
 /* Page Definitions */
 @page WordSection1
	{size:8.5in 11.0in;
	margin:1.0in 1.0in 1.0in 1.0in;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
</style>

</head>

<body lang=EN-US link=blue vlink="#954F72">

<div class=WordSection1>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><b><span
style='font-size:22.0pt;line-height:107%;font-family:"Times New Roman",serif;
color:#171717'> NTT general calibration and validation process</span></b></p>

<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
text-align:center'><b><span style='font-size:22.0pt;line-height:107%;
font-family:"Times New Roman",serif;color:#171717'>&nbsp;</span></b></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'>The
Nutrient Tracking Tool (NTT) uses the Agricultural Policy Extender (APEX) model
to estimate nutrient and sediment losses as well as crop yields. APEX uses a
combination of site specific data (crop management information, weather, soil
and slope) and regionalized environmental parameters to estimate the results
produced in NTT program. Simulations are usually done for &gt;30 years and the
main function of NTT to evaluate and compare different farm-management
practices in order to minimize nutrient and sediment losses while economically
optimize the crop production. However, in order to ensure that parameters used
in APEX for the regional NTT simulation are appropriate the following tasks
within each stage are taken:</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:1.0in;margin-bottom:.0001pt;text-indent:-.75in'><b><span
style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'>Stage
1.     To obtain a general parameterization for each state/region, a series of
NTT runs simulating common crop rotations, soils and, weather patterns for the
region is done and the results are compared with expected crop yield and
nutrient and sediment loss values obtained from National Agriculture Statistics
Service, USDA (NASS 2017) . </span></b></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:1.0in;margin-bottom:.0001pt;text-indent:-.75in'><b><span
style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.25in;margin-bottom:.0001pt'><span style='font-size:12.0pt;
line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:1.0in;margin-bottom:.0001pt;text-indent:-.75in'><span
style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'>Stage
2.     During this stage, the field-scale measured data from various sources
(e.g., local measured studies and collaborators)<span style='color:red'> </span>are
used to finalize the regional APEX parameters.</span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:1.0in;margin-bottom:.0001pt;text-indent:-.75in'><span
style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.25in;margin-bottom:.0001pt'><span style='font-size:12.0pt;
line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:1.0in;margin-bottom:.0001pt;text-indent:-.75in'><span
style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'>Stage
3.     The final parameters obtained from stage 2 will be used to repeat the
process described in stage 1. However, the various conservation practices,
common to the local region, are also simulated and evaluated for all soils and
weather conditions during this stage.</span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:1.0in;margin-bottom:.0001pt;text-indent:-.75in'><span
style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:1.0in;margin-bottom:.0001pt;text-indent:-.75in'><span
style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:1.0in;margin-bottom:.0001pt;text-indent:-.75in'><span
style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'>Stage
4.     The final results are evaluated and presented to local stakeholders (if
any) and collaborators. The results of the parameterization (for all stages)
would be available on the NTT site.</span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:1.0in;margin-bottom:.0001pt;text-indent:-.75in'><span
style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:1.0in;margin-bottom:.0001pt;text-indent:-.75in'><span
style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:1.0in;margin-bottom:.0001pt;text-indent:-.75in'><span
style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:1.0in;margin-bottom:.0001pt;text-indent:-.75in'><span
style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal><b><span style='font-size:14.0pt;line-height:107%;
font-family:"Times New Roman",serif'>STATE: KENTUCKY</span></b></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'>Below
are the results for Kentucky statewide simulations of APEX using the parameters
derived through a regional parameterization method (Stage 1). We display the
average nutrient, sediment and water quantity results over all simulations. </span></p>

<p class=MsoNormal align=center style='text-align:center'><b><span
style='font-size:8.0pt;line-height:107%;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>

<p class=MsoNormal align=center style='text-align:center'><b><span
style='font-size:18.0pt;line-height:107%;font-family:"Times New Roman",serif'>Stage:
1</span></b></p>

<p class=MsoNormal><b><span style='font-size:18.0pt;line-height:107%;
font-family:"Times New Roman",serif'>                                      </span></b></p>

<p class=MsoNormal><b><span style='font-size:12.0pt;line-height:107%;
font-family:"Times New Roman",serif'>Type of parameterization: </span></b><span
style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'>Regional
only (no field-scale data available at this time)</span></p>

<p class=MsoNormal><b><span style='font-size:12.0pt;line-height:107%;
font-family:"Times New Roman",serif'>Number of counties:</span></b><span
style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'>
ALL (<span style='color:black'>120</span>)</span></p>

<p class=MsoNormal><b><span style='font-size:12.0pt;line-height:107%;
font-family:"Times New Roman",serif'>Number of Soils:</span></b><span
style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'> <span
style='color:black'>4473</span></span></p>

<p class=MsoNormal><b><span style='font-size:12.0pt;line-height:107%;
font-family:"Times New Roman",serif'>Slope</span></b><span style='font-size:
12.0pt;line-height:107%;font-family:"Times New Roman",serif'>: 0-10%</span></p>

<p class=MsoNormal><b><span style='font-size:12.0pt;line-height:107%;
font-family:"Times New Roman",serif'>Simulation Period:</span></b><span
style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'>
1981-2015</span></p>

<p class=MsoNormal><b><span style='font-size:12.0pt;line-height:107%;
font-family:"Times New Roman",serif'>Number of Scenarios:</span></b><span
style='font-size:12.0pt;line-height:107%;font-family:"Times New Roman",serif'> <span
style='color:black'>5</span></span></p>

<p class=MsoNormal><b><span style='font-size:12.0pt;line-height:107%;
font-family:"Times New Roman",serif'>Scenarios:</span></b></p>

<p class=MsoNormal><b><i><span style='font-size:12.0pt;line-height:107%;
font-family:"Times New Roman",serif;color:black'>Table 1: Crop management
scenarios</span></i></b></p>

<table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 width=0
 style='width:383.05pt;border-collapse:collapse;border:none'>
 <tr style='height:17.4pt'>
  <td width=137 valign=top style='width:102.65pt;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.4pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><span style='font-family:"Times New Roman",serif;color:black'>Rotation</span></p>
  </td>
  <td width=201 nowrap valign=top style='width:150.6pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt;height:17.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>Tillage Operation</span></p>
  </td>
  <td width=173 nowrap valign=top style='width:129.8pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt;height:17.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>Nutrient management</span></p>
  </td>
 </tr>
 <tr style='height:17.4pt'>
  <td width=137 valign=top style='width:102.65pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:17.4pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><span style='font-family:"Times New Roman",serif;color:black'>Alfalfa</span></p>
  </td>
  <td width=201 nowrap valign=top style='width:150.6pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>No till</span></p>
  </td>
  <td width=173 nowrap valign=top style='width:129.8pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>Commercial</span></p>
  </td>
 </tr>
 <tr style='height:17.4pt'>
  <td width=137 valign=top style='width:102.65pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:17.4pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><span style='font-family:"Times New Roman",serif;color:black'>Corn</span></p>
  </td>
  <td width=201 nowrap valign=top style='width:150.6pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>No till</span></p>
  </td>
  <td width=173 nowrap valign=top style='width:129.8pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>Commercial</span></p>
  </td>
 </tr>
 <tr style='height:17.4pt'>
  <td width=137 valign=top style='width:102.65pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:17.4pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><span style='font-family:"Times New Roman",serif;color:black'>Corn_Silage</span></p>
  </td>
  <td width=201 nowrap valign=top style='width:150.6pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>No till</span></p>
  </td>
  <td width=173 nowrap valign=top style='width:129.8pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>Commercial</span></p>
  </td>
 </tr>
 <tr style='height:17.4pt'>
  <td width=137 valign=top style='width:102.65pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:17.4pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><span style='font-family:"Times New Roman",serif;color:black'>Soybean</span></p>
  </td>
  <td width=201 nowrap valign=top style='width:150.6pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>No till</span></p>
  </td>
  <td width=173 nowrap valign=top style='width:129.8pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>Commercial</span></p>
  </td>
 </tr>
 <tr style='height:17.4pt'>
  <td width=137 valign=top style='width:102.65pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:17.4pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><span style='font-family:"Times New Roman",serif;color:black'>Wheat_Winter</span></p>
  </td>
  <td width=201 nowrap valign=top style='width:150.6pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>No till</span></p>
  </td>
  <td width=173 nowrap valign=top style='width:129.8pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.4pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>Commercial</span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
"Times New Roman",serif;color:red'> </span></p>

<p class=MsoNormal><b><i><span style='font-size:12.0pt;line-height:107%;
font-family:"Times New Roman",serif;color:black'>Table 2. Fertilizer
Application</span></i></b></p>

<table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0
 style='margin-left:30.35pt;border-collapse:collapse;border:none'>
 <tr style='height:16.5pt'>
  <td width=109 rowspan=2 valign=top style='width:81.9pt;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:16.5pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><span style='font-size:12.0pt;font-family:"Times New Roman",serif;
  color:black'>&nbsp;</span></p>
  </td>
  <td width=156 colspan=2 valign=top style='width:117.0pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt;height:16.5pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>Commercial Only</span></p>
  </td>
 </tr>
 <tr style='height:19.75pt'>
  <td width=78 valign=top style='width:58.5pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:19.75pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>N (lb/ac)</span></p>
  </td>
  <td width=78 valign=top style='width:58.5pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:19.75pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>P (lb/ac)</span></p>
  </td>
 </tr>
 <tr style='height:16.5pt'>
  <td width=109 valign=top style='width:81.9pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:16.5pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><span style='font-family:"Times New Roman",serif;color:black'>Alfalfa</span></p>
  </td>
  <td width=78 valign=top style='width:58.5pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:16.5pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>20</span></p>
  </td>
  <td width=78 valign=top style='width:58.5pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:16.5pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>50</span></p>
  </td>
 </tr>
 <tr style='height:16.5pt'>
  <td width=109 valign=top style='width:81.9pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:16.5pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><span style='font-family:"Times New Roman",serif;color:black'>Corn</span></p>
  </td>
  <td width=78 valign=top style='width:58.5pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:16.5pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>180</span></p>
  </td>
  <td width=78 valign=top style='width:58.5pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:16.5pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>60</span></p>
  </td>
 </tr>
 <tr style='height:15.55pt'>
  <td width=109 valign=top style='width:81.9pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:15.55pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><span style='font-family:"Times New Roman",serif;color:black'>Corn_Silage</span></p>
  </td>
  <td width=78 valign=top style='width:58.5pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:15.55pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>180</span></p>
  </td>
  <td width=78 valign=top style='width:58.5pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:15.55pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>60</span></p>
  </td>
 </tr>
 <tr style='height:15.55pt'>
  <td width=109 valign=top style='width:81.9pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:15.55pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><span style='font-family:"Times New Roman",serif;color:black'>Soybean</span></p>
  </td>
  <td width=78 valign=top style='width:58.5pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:15.55pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>-</span></p>
  </td>
  <td width=78 valign=top style='width:58.5pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:15.55pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>40</span></p>
  </td>
 </tr>
 <tr style='height:15.55pt'>
  <td width=109 valign=top style='width:81.9pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:15.55pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'><span style='font-family:"Times New Roman",serif;color:black'>Wheat_Winter</span></p>
  </td>
  <td width=78 valign=top style='width:58.5pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:15.55pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>100</span></p>
  </td>
  <td width=78 valign=top style='width:58.5pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:15.55pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-size:12.0pt;
  font-family:"Times New Roman",serif;color:black'>20</span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal><b><span style='font-size:12.0pt;line-height:107%;
font-family:"Times New Roman",serif;color:black'>&nbsp;</span></b></p>

<p class=MsoNormal><b><span style='font-size:12.0pt;line-height:107%;
font-family:"Times New Roman",serif'>&nbsp;</span></b></p>

<p class=MsoNormal><b><span style='font-size:14.0pt;line-height:107%;
font-family:"Times New Roman",serif'>Summary of Results:</span></b></p>

<p class=MsoNormal style='line-height:150%'><span style='font-size:12.0pt;
line-height:150%;font-family:"Times New Roman",serif'>The results below are
averaged over the 35 years simulation period.</span></p>

<p class=MsoListParagraph style='text-indent:-.25in;line-height:150%'><b><span
style='font-size:14.0pt;line-height:150%;font-family:"Times New Roman",serif'>A.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span></b><b><span
style='font-size:14.0pt;line-height:150%;font-family:"Times New Roman",serif'>Crop
Yield:</span></b></p>

<p class=MsoNormal><b><i><span style='font-size:12.0pt;line-height:107%;
font-family:"Times New Roman",serif'>Table 3. Average crop yield for all crop
management scenarios</span></i></b></p>

<table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 width=0
 style='width:383.9pt;border-collapse:collapse;border:none'>
 <tr style='height:20.0pt'>
  <td width=62 valign=top style='width:46.4pt;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:20.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif'>&nbsp;</span></p>
  </td>
  <td width=102 nowrap valign=top style='width:76.5pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt;height:20.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>Corn</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif'>(bu/ac)</span></p>
  </td>
  <td width=120 valign=top style='width:1.25in;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt;height:20.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>Corn_Silage</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>(bu/ac)</span></p>
  </td>
  <td width=114 valign=top style='width:85.5pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt;height:20.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>Soybean</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>(</span><span style='font-family:"Times New Roman",serif'>bu<span
  style='color:black'> /ac)</span></span></p>
  </td>
  <td width=114 valign=top style='width:85.5pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt;height:20.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>Wheat_Winter</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>(</span><span style='font-family:"Times New Roman",serif'>bu<span
  style='color:black'> /ac)</span></span></p>
  </td>
 </tr>
 <tr style='height:20.0pt'>
  <td width=62 valign=top style='width:46.4pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:20.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif'>NTT</span></p>
  </td>
  <td width=102 nowrap style='width:76.5pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:20.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>160</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>(94.40-184)*</span></p>
  </td>
  <td width=120 valign=top style='width:1.25in;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:20.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>21.24</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>(10.38-24.51)</span></p>
  </td>
  <td width=114 valign=top style='width:85.5pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:20.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>41.86</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>(26.09-45.87)</span></p>
  </td>
  <td width=114 valign=top style='width:85.5pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:20.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>64.90</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>(29.00-72.91)</span></p>
  </td>
 </tr>
 <tr style='height:20.0pt'>
  <td width=62 valign=top style='width:46.4pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:20.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif'>NASS*</span></p>
  </td>
  <td width=102 nowrap style='width:76.5pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:20.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>158<sup>#</sup></span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>(N/A)</span></p>
  </td>
  <td width=120 valign=top style='width:1.25in;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:20.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>16.09</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>(9.00-21.00)</span></p>
  </td>
  <td width=114 valign=top style='width:85.5pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:20.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>35.59</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>(17.00-50.00)</span></p>
  </td>
  <td width=114 valign=top style='width:85.5pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:20.0pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>53.97</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center;line-height:normal'><span style='font-family:"Times New Roman",serif;
  color:black'>(27.00-75.00)</span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:10.0pt;font-family:"Times New Roman",serif'>*Range
(Min – Max)</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:10.0pt;font-family:"Times New Roman",serif'># Kentucky
Agriculture Facts (</span><span class=MsoHyperlink><a
href="https://cdn.kyfb.com/KYFB/assets/File/Federation/Kentucky%20Ag/CommodityBooklet2015.pdf">https://cdn.kyfb.com/KYFB/assets/File/Federation/Kentucky%20Ag/CommodityBooklet2015.pdf</a></span>)</p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:10.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:10.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoListParagraph style='text-indent:-.25in;line-height:150%'><b><span
style='font-size:14.0pt;line-height:150%;font-family:"Times New Roman",serif'>B.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span></b><b><span
style='font-size:14.0pt;line-height:150%;font-family:"Times New Roman",serif'>Water
Quantity:</span></b></p>

<p class=MsoNormal><b><i><span style='font-size:12.0pt;line-height:107%;
font-family:"Times New Roman",serif;color:black'>Table 4. Annual average
hydrologic components for each crop rotation </span></i></b></p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=0
 style='width:391.25pt;border-collapse:collapse;border:none'>
 <tr style='height:17.85pt'>
  <td width=120 nowrap valign=bottom style='width:89.75pt;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.85pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><span
  style='font-family:"Times New Roman",serif;color:black'>Rotation</span></p>
  </td>
  <td width=120 nowrap valign=bottom style='width:1.25in;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt;height:17.85pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>Precipitation (in)</span></p>
  </td>
  <td width=156 nowrap valign=bottom style='width:117.0pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt;height:17.85pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>Evapotranspiration (in)</span></p>
  </td>
  <td width=126 nowrap valign=bottom style='width:94.5pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt;height:17.85pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>Surface Flow (in)</span></p>
  </td>
 </tr>
 <tr style='height:17.85pt'>
  <td width=120 nowrap valign=top style='width:89.75pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:17.85pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><span
  style='font-family:"Times New Roman",serif;color:black'>Corn</span></p>
  </td>
  <td width=120 nowrap valign=bottom style='width:1.25in;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.85pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>48.60</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>(42.79-55.71)*</span></p>
  </td>
  <td width=156 nowrap valign=bottom style='width:117.0pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.85pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>19.10</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>(17.73-27.51)</span></p>
  </td>
  <td width=126 nowrap valign=bottom style='width:94.5pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.85pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>19.90</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>(14.15-27.42)</span></p>
  </td>
 </tr>
 <tr style='height:17.85pt'>
  <td width=120 nowrap valign=top style='width:89.75pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:17.85pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><span
  style='font-family:"Times New Roman",serif;color:black'>Corn_Silage</span></p>
  </td>
  <td width=120 nowrap valign=bottom style='width:1.25in;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.85pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>48.60</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>(42.79-55.71)</span></p>
  </td>
  <td width=156 nowrap valign=bottom style='width:117.0pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.85pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>22.25</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>(20.28-27.63)</span></p>
  </td>
  <td width=126 nowrap valign=bottom style='width:94.5pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.85pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>19.24</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>(13.05-27.57)</span></p>
  </td>
 </tr>
 <tr style='height:17.85pt'>
  <td width=120 nowrap valign=top style='width:89.75pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:17.85pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><span
  style='font-family:"Times New Roman",serif;color:black'>Soybean</span></p>
  </td>
  <td width=120 nowrap valign=bottom style='width:1.25in;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.85pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>48.60</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>(42.79-55.71)</span></p>
  </td>
  <td width=156 nowrap valign=bottom style='width:117.0pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.85pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>23.71</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>(17.92-25.47)</span></p>
  </td>
  <td width=126 nowrap valign=bottom style='width:94.5pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.85pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>19.36</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>(14.09-26.29)</span></p>
  </td>
 </tr>
 <tr style='height:17.85pt'>
  <td width=120 nowrap valign=top style='width:89.75pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:17.85pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><span
  style='font-family:"Times New Roman",serif;color:black'>Wheat_Winter</span></p>
  </td>
  <td width=120 nowrap valign=bottom style='width:1.25in;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.85pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>48.60</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>(42.79-55.71)</span></p>
  </td>
  <td width=156 nowrap valign=bottom style='width:117.0pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.85pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>17.22</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>(13.37-23.47)</span></p>
  </td>
  <td width=126 nowrap valign=bottom style='width:94.5pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.85pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>27.00</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>(20.53-34.52)</span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:10.0pt;font-family:"Times New Roman",serif'>*Range
(Min – Max)</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:10.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:10.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:10.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:10.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:10.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:10.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:10.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:10.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:10.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:10.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:10.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:10.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:10.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:10.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:10.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:10.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:10.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpFirst style='text-indent:-.25in'><b><span
style='font-size:14.0pt;line-height:107%;font-family:"Times New Roman",serif'>C.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span></b><b><span
style='font-size:14.0pt;line-height:107%;font-family:"Times New Roman",serif'>Water
Quality:</span></b></p>

<p class=MsoListParagraphCxSpLast><b><span style='font-size:14.0pt;line-height:
107%;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>

<p class=MsoNormal><b><i><span style='font-size:12.0pt;line-height:107%;
font-family:"Times New Roman",serif'>Table 7. Annual average nutrient and
sediment loads for each crop rotation </span></i></b></p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width="95%"
 style='width:95.86%;border-collapse:collapse;border:none'>
 <tr style='height:17.35pt'>
  <td width="17%" nowrap valign=bottom style='width:17.02%;border:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.35pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><span
  style='font-family:"Times New Roman",serif'>Rotation</span></p>
  </td>
  <td width="17%" nowrap valign=top style='width:17.06%;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt;height:17.35pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>Organic
  N (lb/ac)</span></p>
  </td>
  <td width="17%" nowrap valign=top style='width:17.08%;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt;height:17.35pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>Organic
  P </span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>(lb/ac)</span></p>
  </td>
  <td width="16%" nowrap valign=top style='width:16.06%;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt;height:17.35pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>Sediment
  (tons/ac)</span></p>
  </td>
  <td width="18%" valign=top style='width:18.08%;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt;height:17.35pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>Surface
  N</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>(lb/ac)</span></p>
  </td>
  <td width="14%" valign=top style='width:14.7%;border:solid windowtext 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt;height:17.35pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>Surface
  P</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>(lb/ac)</span></p>
  </td>
 </tr>
 <tr style='height:17.35pt'>
  <td width="17%" nowrap valign=top style='width:17.02%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:17.35pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><span
  style='font-family:"Times New Roman",serif;color:black'>Corn</span></p>
  </td>
  <td width="17%" nowrap valign=top style='width:17.06%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.35pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>2.42</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>(0.16-61.46)*</span></p>
  </td>
  <td width="17%" nowrap valign=top style='width:17.08%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.35pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>0.29</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>(0.01-27.05)</span></p>
  </td>
  <td width="16%" nowrap valign=top style='width:16.06%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.35pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>0.11</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>(0.00-12.99)</span></p>
  </td>
  <td width="18%" valign=top style='width:18.08%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.35pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>16.07</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>(5.85-50.03)</span></p>
  </td>
  <td width="14%" valign=top style='width:14.7%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.35pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>0.55</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>(0.20-3.06)</span></p>
  </td>
 </tr>
 <tr style='height:17.35pt'>
  <td width="17%" nowrap valign=top style='width:17.02%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:17.35pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><span
  style='font-family:"Times New Roman",serif;color:black'>Corn_Silage</span></p>
  </td>
  <td width="17%" nowrap valign=top style='width:17.06%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.35pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>2.92</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>(0.37-16.60)</span></p>
  </td>
  <td width="17%" nowrap valign=top style='width:17.08%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.35pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>0.57</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>(0.06-7.78)</span></p>
  </td>
  <td width="16%" nowrap valign=top style='width:16.06%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.35pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>0.22</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>(0.02-3.02)</span></p>
  </td>
  <td width="18%" valign=top style='width:18.08%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.35pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>29.76</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>(11.93-64.07)</span></p>
  </td>
  <td width="14%" valign=top style='width:14.7%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.35pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>0.85</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>(0.39-2.71)</span></p>
  </td>
 </tr>
 <tr style='height:17.35pt'>
  <td width="17%" nowrap valign=top style='width:17.02%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:17.35pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><span
  style='font-family:"Times New Roman",serif;color:black'>Soybean</span></p>
  </td>
  <td width="17%" nowrap valign=top style='width:17.06%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.35pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>8.03</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>(1.09-34.26)</span></p>
  </td>
  <td width="17%" nowrap valign=top style='width:17.08%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.35pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>1.32</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>(0.16-5.34)</span></p>
  </td>
  <td width="16%" nowrap valign=top style='width:16.06%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.35pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>1.38</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>(0.11-6.24)</span></p>
  </td>
  <td width="18%" valign=top style='width:18.08%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.35pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>6.58</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>(3.96-12.87)</span></p>
  </td>
  <td width="14%" valign=top style='width:14.7%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.35pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>0.61</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>(0.43-1.41)</span></p>
  </td>
 </tr>
 <tr style='height:17.35pt'>
  <td width="17%" nowrap valign=top style='width:17.02%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:17.35pt'>
  <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt'><span
  style='font-family:"Times New Roman",serif;color:black'>Wheat_Winter</span></p>
  </td>
  <td width="17%" nowrap valign=top style='width:17.06%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.35pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>19.64</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>(1.58-54.58)</span></p>
  </td>
  <td width="17%" nowrap valign=top style='width:17.08%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.35pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>3.18</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>(0.24-8.13)</span></p>
  </td>
  <td width="16%" nowrap valign=top style='width:16.06%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.35pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>2.90</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif;
  color:black'>(0.35-7.14)</span></p>
  </td>
  <td width="18%" valign=top style='width:18.08%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.35pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>25.34</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>(16.93-38.17)</span></p>
  </td>
  <td width="14%" valign=top style='width:14.7%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:17.35pt'>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>0.74</span></p>
  <p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
  text-align:center'><span style='font-family:"Times New Roman",serif'>(0.44-1.10)</span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'><span style='font-size:10.0pt;font-family:"Times New Roman",serif'>*Range
(Min – Max)</span></p>

<p class=MsoNormal><b><span style='font-size:14.0pt;line-height:107%;
font-family:"Times New Roman",serif'>&nbsp;</span></b></p>

<p class=MsoNormal><b><span style='font-size:14.0pt;line-height:107%;
font-family:"Times New Roman",serif'>&nbsp;</span></b></p>

<p class=MsoNormal><b><span style='font-size:14.0pt;line-height:107%;
font-family:"Times New Roman",serif'>&nbsp;</span></b></p>

<p class=MsoListParagraph><b><span style='font-size:14.0pt;line-height:107%;
font-family:"Times New Roman",serif'>&nbsp;</span></b></p>

</div>

</body>

</html>
