<html>
<head>
  <script type="text/javascript">
      function reLoad() {
          window.top.location = '<%=fields_url %>';
      }
  </script>
</head>

<% if !session[:debug] %>
    <body onload="reLoad();">
    </body>
<% else %>
    <body>
    <%params.each do |key, value|%>
      <%= key %> = <%= value %>  <br/>
    <%end%>
    </body>
<% end %>
</html>
