<ul class="nav navbar-nav">
            <li><a href="/static_pages/project"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> NTT - Nutrient Tracking Tool</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><% if signed_in? %><%= link_to t('menu.signout'), logout_path %><% else %><a href="#">Log In</a><% end %></li>
          </ul>