<% if signed_in? %>
    <% if session[:status] == "projects" %>
    <% end %>

	<div class="navbar navbar-default" style="line-height:0px" id="div1">
        <ul class="nav navbar-nav">
			<%= session[:status] %>
		    <% if session[:status] == "signed" %>
	  session[:status] = "signed"									# store user id in session
			  <li><%= link_to t('menu.welcome'), welcome_path %></li>
			  <li><%= link_to t('menu.projects'), welcomes_path %></li>
		    <% end %>			
	    </ul>      
    </div>

<% end %>


