<% user_id = session[:user_id] %>
<% user = User.find(user_id) %>
<div class="smallHeader">
    <div class="page_header inline">
        <h3 class="margin_none">Nutrient Tracking Tool - Report</h3>
    </div>
    <div class="right">
        <strong>User:</strong> <%= user.name %></br>
    </div>
    <div>
        <hr class="line_break" color="dodgerblue">
    </div>
</div>
<script type="text/javascript">
    var headerCheck = function() {
      var x=document.location.search.substring(1).split('&');
      for (var i in x) {
        if(x[i] == "page=1")
          document.getElementsByClassName("smallHeader")[0].style.display = "none";
       }
     }();
</script>