<% if flash[:notice] %>
  <div class="flash_alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <%= flash[:notice] %>
  </div>
<% end %>

<h1><%= t('operation.open') %></h1>
<div class="actions">
    <%= submit_tag(value = t('operation.open'), data: {disable_with: t('general.please') + " " + t('general.wait') + " " + t('general.uploading') + " " + t('operation.saved')}) %>
    <%= link_to t('general.back'), scenario_operations_scenario_path(session[:scenario_id]) %>
</div>